<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animations</key>
	<dict>
		<key>run</key>
		<dict>
			<key>delay</key>
			<string>0.08</string>
			<key>frames</key>
			<array>
				<string>frame_0_delay-0.08s.gif</string>
				<string>frame_1_delay-0.08s.gif</string>
				<string>frame_2_delay-0.08s.gif</string>
				<string>frame_3_delay-0.08s.gif</string>
				<string>frame_4_delay-0.08s.gif</string>
				<string>frame_5_delay-0.08s.gif</string>
			</array>
		</dict>
		<key>idle</key>
		<dict>
			<key>delay</key>
			<integer>1</integer>
			<key>frames</key>
			<array>
				<string>frame_0_delay-0.08s.gif</string>
			</array>
		</dict>
		<key>guy_falling</key>
		<dict>
			<key>delay</key>
			<string>0.03</string>
			<key>frames</key>
			<array>
				<string>guy_hit_20_000.png</string>
				<string>guy_hit_20_001.png</string>
				<string>guy_hit_20_002.png</string>
				<string>guy_hit_20_003.png</string>
				<string>guy_hit_20_004.png</string>
				<string>guy_hit_20_005.png</string>
				<string>guy_hit_20_006.png</string>
				<string>guy_hit_20_007.png</string>
				<string>guy_hit_20_008.png</string>
				<string>guy_hit_20_009.png</string>
				<string>guy_hit_20_010.png</string>
				<string>guy_hit_20_011.png</string>
			</array>
		</dict>
		<key>guy_jumping</key>
		<dict>
			<key>delay</key>
			<string>0.03</string>
			<key>frames</key>
			<array>
				<string>guy_jump_start_20_000.png</string>
				<string>guy_jump_start_20_001.png</string>
				<string>guy_jump_start_20_002.png</string>
				<string>guy_jump_start_20_003.png</string>
				<string>guy_jump_start_20_004.png</string>
				<string>guy_jump_start_20_005.png</string>
				<string>guy_jump_start_20_006.png</string>
				<string>guy_jump_start_20_007.png</string>
				<string>guy_jump_start_20_008.png</string>
			</array>
		</dict>
		<key>guy_idle</key>
		<dict>
			<key>delay</key>
			<string>0.03</string>
			<key>frames</key>
			<array>
				<string>guy_idle_001.png</string>
				<string>guy_idle_002.png</string>
				<string>guy_idle_003.png</string>
				<string>guy_idle_004.png</string>
				<string>guy_idle_005.png</string>
				<string>guy_idle_006.png</string>
				<string>guy_idle_007.png</string>
				<string>guy_idle_008.png</string>
				<string>guy_idle_009.png</string>
				<string>guy_idle_010.png</string>
				<string>guy_idle_011.png</string>
				<string>guy_idle_012.png</string>
				<string>guy_idle_013.png</string>
				<string>guy_idle_014.png</string>
				<string>guy_idle_015.png</string>
				<string>guy_idle_014.png</string>
				<string>guy_idle_013.png</string>
				<string>guy_idle_012.png</string>
				<string>guy_idle_011.png</string>
				<string>guy_idle_010.png</string>
				<string>guy_idle_009.png</string>
				<string>guy_idle_008.png</string>
				<string>guy_idle_007.png</string>
				<string>guy_idle_006.png</string>
				<string>guy_idle_005.png</string>
				<string>guy_idle_004.png</string>
				<string>guy_idle_003.png</string>
				<string>guy_idle_002.png</string>
				<string>guy_idle_001.png</string>
			</array>
		</dict>
		<key>guy_walk</key>
		<dict>
			<key>delay</key>
			<string>0.02</string>
			<key>frames</key>
			<array>
				<string>guy_walking_20_000.png</string>
				<string>guy_walking_20_001.png</string>
				<string>guy_walking_20_002.png</string>
				<string>guy_walking_20_003.png</string>
				<string>guy_walking_20_004.png</string>
				<string>guy_walking_20_005.png</string>
				<string>guy_walking_20_006.png</string>
				<string>guy_walking_20_007.png</string>
				<string>guy_walking_20_008.png</string>
				<string>guy_walking_20_009.png</string>
				<string>guy_walking_20_010.png</string>
				<string>guy_walking_20_011.png</string>
				<string>guy_walking_20_012.png</string>
				<string>guy_walking_20_013.png</string>
				<string>guy_walking_20_014.png</string>
				<string>guy_walking_20_015.png</string>
				<string>guy_walking_20_016.png</string>
				<string>guy_walking_20_017.png</string>
				<string>guy_walking_20_018.png</string>
				<string>guy_walking_20_019.png</string>
				<string>guy_walking_20_020.png</string>
				<string>guy_walking_20_021.png</string>
				<string>guy_walking_20_022.png</string>
				<string>guy_walking_20_023.png</string>
				<string>guy_walking_20_024.png</string>
				<string>guy_walking_20_025.png</string>
				<string>guy_walking_20_026.png</string>
				<string>guy_walking_20_027.png</string>
				<string>guy_walking_20_028.png</string>
				<string>guy_walking_20_029.png</string>
				<string>guy_walking_20_030.png</string>
				<string>guy_walking_20_031.png</string>
			</array>
		</dict>
	</dict>
</dict>
</plist>
