<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Untitled.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,16}</string>
                <key>spriteSourceSize</key>
                <string>{16,16}</string>
                <key>textureRect</key>
                <string>{{7,0},{16,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>a_button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,27}</string>
                <key>spriteSourceSize</key>
                <string>{27,27}</string>
                <key>textureRect</key>
                <string>{{0,70},{27,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>b_button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,29}</string>
                <key>spriteSourceSize</key>
                <string>{28,29}</string>
                <key>textureRect</key>
                <string>{{0,195},{28,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{7,7}</string>
                <key>spriteSourceSize</key>
                <string>{7,7}</string>
                <key>textureRect</key>
                <string>{{0,0},{7,7}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_0_delay-0.08s.gif</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,36}</string>
                <key>spriteSourceSize</key>
                <string>{32,36}</string>
                <key>textureRect</key>
                <string>{{0,224},{32,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_1_delay-0.08s.gif</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,36}</string>
                <key>spriteSourceSize</key>
                <string>{32,36}</string>
                <key>textureRect</key>
                <string>{{0,296},{32,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_2_delay-0.08s.gif</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,36}</string>
                <key>spriteSourceSize</key>
                <string>{32,36}</string>
                <key>textureRect</key>
                <string>{{0,404},{32,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_3_delay-0.08s.gif</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,36}</string>
                <key>spriteSourceSize</key>
                <string>{32,36}</string>
                <key>textureRect</key>
                <string>{{0,332},{32,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_4_delay-0.08s.gif</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,36}</string>
                <key>spriteSourceSize</key>
                <string>{32,36}</string>
                <key>textureRect</key>
                <string>{{0,260},{32,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_5_delay-0.08s.gif</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,36}</string>
                <key>spriteSourceSize</key>
                <string>{32,36}</string>
                <key>textureRect</key>
                <string>{{0,368},{32,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>left_shoulder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,20}</string>
                <key>spriteSourceSize</key>
                <string>{28,20}</string>
                <key>textureRect</key>
                <string>{{0,126},{28,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>left_trigger.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,27}</string>
                <key>spriteSourceSize</key>
                <string>{21,27}</string>
                <key>textureRect</key>
                <string>{{0,16},{21,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>right_shoulder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,20}</string>
                <key>spriteSourceSize</key>
                <string>{28,20}</string>
                <key>textureRect</key>
                <string>{{0,146},{28,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>right_trigger.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,27}</string>
                <key>spriteSourceSize</key>
                <string>{21,27}</string>
                <key>textureRect</key>
                <string>{{0,43},{21,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>x_button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,29}</string>
                <key>spriteSourceSize</key>
                <string>{28,29}</string>
                <key>textureRect</key>
                <string>{{0,97},{28,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>y_button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,29}</string>
                <key>spriteSourceSize</key>
                <string>{28,29}</string>
                <key>textureRect</key>
                <string>{{0,166},{28,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>girl.png</string>
            <key>size</key>
            <string>{32,440}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ac4e5698967b7682e75aefeae901378b:3bf920f53d3a9fe37f0e00731748c768:2ae2be31df9562fc960daf8a7ff128f8$</string>
            <key>textureFileName</key>
            <string>girl.png</string>
        </dict>
    </dict>
</plist>
