<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>guy_hit_20_000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,52}</string>
                <key>spriteSourceSize</key>
                <string>{47,52}</string>
                <key>textureRect</key>
                <string>{{0,0},{47,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guy_hit_20_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,52}</string>
                <key>spriteSourceSize</key>
                <string>{47,52}</string>
                <key>textureRect</key>
                <string>{{47,0},{47,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guy_hit_20_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,52}</string>
                <key>spriteSourceSize</key>
                <string>{47,52}</string>
                <key>textureRect</key>
                <string>{{94,0},{47,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guy_hit_20_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,52}</string>
                <key>spriteSourceSize</key>
                <string>{47,52}</string>
                <key>textureRect</key>
                <string>{{141,0},{47,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guy_hit_20_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,52}</string>
                <key>spriteSourceSize</key>
                <string>{47,52}</string>
                <key>textureRect</key>
                <string>{{188,0},{47,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guy_hit_20_005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,52}</string>
                <key>spriteSourceSize</key>
                <string>{47,52}</string>
                <key>textureRect</key>
                <string>{{0,52},{47,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guy_hit_20_006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,52}</string>
                <key>spriteSourceSize</key>
                <string>{47,52}</string>
                <key>textureRect</key>
                <string>{{47,52},{47,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guy_hit_20_007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,52}</string>
                <key>spriteSourceSize</key>
                <string>{47,52}</string>
                <key>textureRect</key>
                <string>{{94,52},{47,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guy_hit_20_008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,52}</string>
                <key>spriteSourceSize</key>
                <string>{47,52}</string>
                <key>textureRect</key>
                <string>{{141,52},{47,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guy_hit_20_009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,52}</string>
                <key>spriteSourceSize</key>
                <string>{47,52}</string>
                <key>textureRect</key>
                <string>{{188,52},{47,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guy_hit_20_010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,52}</string>
                <key>spriteSourceSize</key>
                <string>{47,52}</string>
                <key>textureRect</key>
                <string>{{0,104},{47,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guy_hit_20_011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,52}</string>
                <key>spriteSourceSize</key>
                <string>{47,52}</string>
                <key>textureRect</key>
                <string>{{47,104},{47,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guy_idle_000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,52}</string>
                <key>spriteSourceSize</key>
                <string>{29,52}</string>
                <key>textureRect</key>
                <string>{{94,104},{29,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guy_idle_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,52}</string>
                <key>spriteSourceSize</key>
                <string>{29,52}</string>
                <key>textureRect</key>
                <string>{{123,104},{29,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guy_idle_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,52}</string>
                <key>spriteSourceSize</key>
                <string>{29,52}</string>
                <key>textureRect</key>
                <string>{{152,104},{29,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guy_idle_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,52}</string>
                <key>spriteSourceSize</key>
                <string>{29,52}</string>
                <key>textureRect</key>
                <string>{{181,104},{29,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guy_idle_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,52}</string>
                <key>spriteSourceSize</key>
                <string>{29,52}</string>
                <key>textureRect</key>
                <string>{{210,104},{29,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guy_idle_005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,52}</string>
                <key>spriteSourceSize</key>
                <string>{29,52}</string>
                <key>textureRect</key>
                <string>{{0,156},{29,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guy_idle_006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,52}</string>
                <key>spriteSourceSize</key>
                <string>{29,52}</string>
                <key>textureRect</key>
                <string>{{29,156},{29,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guy_idle_007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,52}</string>
                <key>spriteSourceSize</key>
                <string>{29,52}</string>
                <key>textureRect</key>
                <string>{{58,156},{29,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guy_idle_008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,52}</string>
                <key>spriteSourceSize</key>
                <string>{29,52}</string>
                <key>textureRect</key>
                <string>{{87,156},{29,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guy_idle_009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,52}</string>
                <key>spriteSourceSize</key>
                <string>{29,52}</string>
                <key>textureRect</key>
                <string>{{116,156},{29,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guy_idle_010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,52}</string>
                <key>spriteSourceSize</key>
                <string>{29,52}</string>
                <key>textureRect</key>
                <string>{{145,156},{29,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guy_idle_011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,52}</string>
                <key>spriteSourceSize</key>
                <string>{29,52}</string>
                <key>textureRect</key>
                <string>{{174,156},{29,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guy_idle_012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,52}</string>
                <key>spriteSourceSize</key>
                <string>{29,52}</string>
                <key>textureRect</key>
                <string>{{203,156},{29,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guy_idle_013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,52}</string>
                <key>spriteSourceSize</key>
                <string>{29,52}</string>
                <key>textureRect</key>
                <string>{{0,208},{29,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guy_idle_014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,52}</string>
                <key>spriteSourceSize</key>
                <string>{29,52}</string>
                <key>textureRect</key>
                <string>{{29,208},{29,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guy_idle_015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,52}</string>
                <key>spriteSourceSize</key>
                <string>{29,52}</string>
                <key>textureRect</key>
                <string>{{58,208},{29,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guy_jump_start_20_000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,55}</string>
                <key>spriteSourceSize</key>
                <string>{50,55}</string>
                <key>textureRect</key>
                <string>{{87,208},{50,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guy_jump_start_20_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,55}</string>
                <key>spriteSourceSize</key>
                <string>{50,55}</string>
                <key>textureRect</key>
                <string>{{137,208},{50,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guy_jump_start_20_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,55}</string>
                <key>spriteSourceSize</key>
                <string>{50,55}</string>
                <key>textureRect</key>
                <string>{{187,208},{50,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guy_jump_start_20_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,55}</string>
                <key>spriteSourceSize</key>
                <string>{50,55}</string>
                <key>textureRect</key>
                <string>{{0,263},{50,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guy_jump_start_20_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,55}</string>
                <key>spriteSourceSize</key>
                <string>{50,55}</string>
                <key>textureRect</key>
                <string>{{50,263},{50,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guy_jump_start_20_005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,55}</string>
                <key>spriteSourceSize</key>
                <string>{50,55}</string>
                <key>textureRect</key>
                <string>{{100,263},{50,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guy_jump_start_20_006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,55}</string>
                <key>spriteSourceSize</key>
                <string>{50,55}</string>
                <key>textureRect</key>
                <string>{{150,263},{50,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guy_jump_start_20_007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,55}</string>
                <key>spriteSourceSize</key>
                <string>{50,55}</string>
                <key>textureRect</key>
                <string>{{0,318},{50,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guy_jump_start_20_008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,55}</string>
                <key>spriteSourceSize</key>
                <string>{50,55}</string>
                <key>textureRect</key>
                <string>{{50,318},{50,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guy_walking_20_000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,55}</string>
                <key>spriteSourceSize</key>
                <string>{35,55}</string>
                <key>textureRect</key>
                <string>{{100,318},{35,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guy_walking_20_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,55}</string>
                <key>spriteSourceSize</key>
                <string>{35,55}</string>
                <key>textureRect</key>
                <string>{{135,318},{35,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guy_walking_20_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,55}</string>
                <key>spriteSourceSize</key>
                <string>{35,55}</string>
                <key>textureRect</key>
                <string>{{170,318},{35,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guy_walking_20_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,55}</string>
                <key>spriteSourceSize</key>
                <string>{35,55}</string>
                <key>textureRect</key>
                <string>{{205,318},{35,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guy_walking_20_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,55}</string>
                <key>spriteSourceSize</key>
                <string>{35,55}</string>
                <key>textureRect</key>
                <string>{{0,373},{35,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guy_walking_20_005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,55}</string>
                <key>spriteSourceSize</key>
                <string>{35,55}</string>
                <key>textureRect</key>
                <string>{{35,373},{35,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guy_walking_20_006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,55}</string>
                <key>spriteSourceSize</key>
                <string>{35,55}</string>
                <key>textureRect</key>
                <string>{{70,373},{35,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guy_walking_20_007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,55}</string>
                <key>spriteSourceSize</key>
                <string>{35,55}</string>
                <key>textureRect</key>
                <string>{{105,373},{35,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guy_walking_20_008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,55}</string>
                <key>spriteSourceSize</key>
                <string>{35,55}</string>
                <key>textureRect</key>
                <string>{{140,373},{35,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guy_walking_20_009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,55}</string>
                <key>spriteSourceSize</key>
                <string>{35,55}</string>
                <key>textureRect</key>
                <string>{{175,373},{35,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guy_walking_20_010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,55}</string>
                <key>spriteSourceSize</key>
                <string>{35,55}</string>
                <key>textureRect</key>
                <string>{{210,373},{35,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guy_walking_20_011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,55}</string>
                <key>spriteSourceSize</key>
                <string>{35,55}</string>
                <key>textureRect</key>
                <string>{{0,428},{35,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guy_walking_20_012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,55}</string>
                <key>spriteSourceSize</key>
                <string>{35,55}</string>
                <key>textureRect</key>
                <string>{{35,428},{35,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guy_walking_20_013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,55}</string>
                <key>spriteSourceSize</key>
                <string>{35,55}</string>
                <key>textureRect</key>
                <string>{{70,428},{35,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guy_walking_20_014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,55}</string>
                <key>spriteSourceSize</key>
                <string>{35,55}</string>
                <key>textureRect</key>
                <string>{{105,428},{35,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guy_walking_20_015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,55}</string>
                <key>spriteSourceSize</key>
                <string>{35,55}</string>
                <key>textureRect</key>
                <string>{{140,428},{35,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guy_walking_20_016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,55}</string>
                <key>spriteSourceSize</key>
                <string>{35,55}</string>
                <key>textureRect</key>
                <string>{{175,428},{35,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guy_walking_20_017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,55}</string>
                <key>spriteSourceSize</key>
                <string>{35,55}</string>
                <key>textureRect</key>
                <string>{{210,428},{35,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guy_walking_20_018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,55}</string>
                <key>spriteSourceSize</key>
                <string>{35,55}</string>
                <key>textureRect</key>
                <string>{{0,483},{35,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guy_walking_20_019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,55}</string>
                <key>spriteSourceSize</key>
                <string>{35,55}</string>
                <key>textureRect</key>
                <string>{{35,483},{35,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guy_walking_20_020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,55}</string>
                <key>spriteSourceSize</key>
                <string>{35,55}</string>
                <key>textureRect</key>
                <string>{{70,483},{35,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guy_walking_20_021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,55}</string>
                <key>spriteSourceSize</key>
                <string>{35,55}</string>
                <key>textureRect</key>
                <string>{{105,483},{35,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guy_walking_20_022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,55}</string>
                <key>spriteSourceSize</key>
                <string>{35,55}</string>
                <key>textureRect</key>
                <string>{{140,483},{35,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guy_walking_20_023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,55}</string>
                <key>spriteSourceSize</key>
                <string>{35,55}</string>
                <key>textureRect</key>
                <string>{{175,483},{35,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guy_walking_20_024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,55}</string>
                <key>spriteSourceSize</key>
                <string>{35,55}</string>
                <key>textureRect</key>
                <string>{{210,483},{35,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guy_walking_20_025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,55}</string>
                <key>spriteSourceSize</key>
                <string>{35,55}</string>
                <key>textureRect</key>
                <string>{{0,538},{35,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guy_walking_20_026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,55}</string>
                <key>spriteSourceSize</key>
                <string>{35,55}</string>
                <key>textureRect</key>
                <string>{{35,538},{35,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guy_walking_20_027.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,55}</string>
                <key>spriteSourceSize</key>
                <string>{35,55}</string>
                <key>textureRect</key>
                <string>{{70,538},{35,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guy_walking_20_028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,55}</string>
                <key>spriteSourceSize</key>
                <string>{35,55}</string>
                <key>textureRect</key>
                <string>{{105,538},{35,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guy_walking_20_029.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,55}</string>
                <key>spriteSourceSize</key>
                <string>{35,55}</string>
                <key>textureRect</key>
                <string>{{140,538},{35,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guy_walking_20_030.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,55}</string>
                <key>spriteSourceSize</key>
                <string>{35,55}</string>
                <key>textureRect</key>
                <string>{{175,538},{35,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guy_walking_20_031.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,55}</string>
                <key>spriteSourceSize</key>
                <string>{35,55}</string>
                <key>textureRect</key>
                <string>{{210,538},{35,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>guy.png</string>
            <key>size</key>
            <string>{245,593}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c4c7539ff55fb252096a7b0eab279c56:472d39785a9c2da5f73670cf1bcf73b7:3875838f920d8da296176ecf49f43ab1$</string>
            <key>textureFileName</key>
            <string>guy.png</string>
        </dict>
    </dict>
</plist>
